/* Space out content a bit */
 html {
    height: 100%
}
body {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #fff;
    /* text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
    /*box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);*/
}
.ui-datepicker {
    z-index: 9999 !important;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.icon {
  margin-top: 1em;
  color: #555;
}
h1 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: left;
    color: rgba(204, 204, 204, 0.31);
}
/* Everything but the jumbotron gets side spacing for mobile first views */
 .header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */
 .header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
 .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
/* Custom page footer */
 .footer {
    margin-top: 1em;
    color: rgba(0, 0, 0, 0.42);
}
/*
Absolute positon footer idea
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

 @media (max-width: 479px) {
     .footer {
        margin-top: 1em;
        position: relative;        
    }
} 
@media (min-height: : 450px) {
     .footer {
        margin-top: 1em;
        position: relative;        
    }
}
*/
/* Customize container */
 @media (min-width: 768px) {
    .container {
        max-width: 800px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */
 .jumbotron {
    background-color: #fff;
    text-align: center;
    margin-top:5em;
}
 .jumbotron form {
    text-align: left;
}

 .jumbotron h1 {
    font-size: 36px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.42);
    line-height: 1.3em;
    text-align: center;
}
.jumbotron h1 .todo {
    color: #47a447;
}
.jumbotron h1 .todo.negative {
    color: #d2322d;
}
.jumbotron em {
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.80);
}
/* Supporting marketing content */
 .marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    display:block!important;
}
.animate-show.ng-hide-add.ng-hide-add-active, .animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition:all opacity 1s;
    transition:all opacity 1s;
}
.animate-show.ng-hide {
    line-height:0;
    opacity:0;
    padding:0 10px;
}
/* Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header, .marketing, .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}