<h1>Yikes!</h1>
<div class="jumbotron">
    <!-- <div id="clock" style="margin:1em;">        
    </div> -->
    <h1>
        <span class="todo">'{{todo}}'</span> happens in
        <span id="clock"></span>
    </h1>

    <div class="container">
        <!-- <button class="btn btn-default" ng-show="myDate.length > 0" ng-click="showDetails = ! showDetails" aria-label="Remove">
            <span class="glyphicon glyphicon-edit"></span>
        </button> -->
        <form role="form" ng-submit="addTodo()">
            <!-- ng-show="myDate.length == 0 || showDetails"> -->            
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon">
                    D
                  </span>
                  <input id="myDateInput" ui-date ui-date-format="yy,mm,dd" ng-model="myDate" class="form-control  input-lg" placeholder="Pick your date" tabindex="1">
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon">
                    T
                  </span>
                  <input id="myYikeName" type="text" ng-model="todo" class="form-control input-lg" placeholder="Name it" tabindex="2">
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </form>
        <!-- <div ui-sortable>
            <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
                <input type="text" ng-model="todo" class="form-control" ng-change="changeTodo($index)">
                <span class="input-group-btn">
                    <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
                </span>
            </p>
        </div>
      -->
    </div>
</div>


<div class="footer">
    <p>
        <span class="glyphicon glyphicon-heart"></span> Yikes! Team</p>
</div>